h1{
    color: blue;
    font-size: 25px;
}
:root{
    --text-color:red;
}
p{
    color: var(--text-color);
}
.box{
    width: 50%;
    height: 100px;
    background-color: blueviolet;
}
html{
    font-size: 16px;
}
p{
    font-size: 1.5rem;
    color: chartreuse;
}
tbody{
    font-size: 18px;
}
img{
    width: 80vw;
    height: 60vh;
}